{% extends "::base.html.twig" %}

{% block title %}AppBundle:Pipeline:track{% endblock %}

{% block body %}
<h1>Welcome to the Pipeline:track page</h1>
<p>Item: {{item}}</p>
<p>Count: {{count}}</p>
<p>Direction: {{direction}}</p>
{% endblock %}
