<html>
    <head>

    </head>
    <body>
    <a href="{{ path('track', {'itemName':'apples', 'count': 10, 'direction': 'up'}) }}">Add 10 Apples</a><br>
    <a href="{{ path('track', {'itemName':'apples', 'count': 10, 'direction': 'down'}) }}">Remove 10 Apples</a>
    </body>
</html>
Home page